.truckimg {
    width: 40px;
    height: 60px;
}

.treasureimg {
    width: 50px;
    height: 40px;
}

.blip {
    width: 40px;
    height: 30px;
}

.overmap {
    width: 100%;
    position: absolute;
    bottom: 90px;
    text-align: center;
    z-index: 1000;
}

.endroutebtn {
  z-index: 1000;
  width: 80%;
  height: 50px;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.confirmbtn {
    z-index: 1000;
    width: 80%;
    height: 50px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.directionp {
    z-index: 1000;
    width: 80%;
    font-weight: bolder;
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
}

.mapboxgl-ctrl-top-right {
    width: 10%;
}
.mapboxgl-ctrl-top-left {
    width: 10%;
}

@media only screen and (min-width: 768px) {
    .mapboxgl-ctrl-top-right {
        width: 50%;
    }
    .mapboxgl-ctrl-top-left {
        width: 50%;
    }
}


